doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/canvas_game.css')
    script(src="/socket.io/socket.io.js")
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')    

  body
    a(href="/auth/twitter") Sign in with Twitter
    block content