extends layout

block content
  img(id="player_img" src="#{image}")
  p(id="join_game") Join Game
  div(id="main" onload="game()")
    canvas(id="canvas" width="400px" height="400px")

  
  script(src="../javascripts/small_canvas_game.js")
  


